<h1>Let's Play War!</h1>
  <%= if logged_in?(@conn) do %>
    <span><%= link "New Game", to: game_path(@conn, :new), class: "ui big primary button" %></span>



  <% end %>

   <p><%= handler_info @conn %></p>
   <br>
   <hr>

