/* Phoenix flash messages */

.alert:empty {
    display: none;
}

.help-block {
    background-color: #fff6f6;
    color: #9f3a5b;
}

body {
//   background-image: url("/images/war.png");
//
//     /* Create the parallax scrolling effect */
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
 }

.ui.header.index {
  background-image: url("/images/pink_dust.png");
  color: white;
}


@media only screen and (min-width: 550px) {}

@media only screen and (max-width: 600px) {}
