/* Phoenix flash messages */

.alert:empty {
    display: none;
}

.help-block {
    background-color: #fff6f6;
    color: #9f3a5b;
}

.ui.header.index {}

@media only screen and (min-width: 550px) {}

@media only screen and (max-width: 600px) {}