<h2>Show Game</h2>

<span><strong>Game ID: </strong> <%= @game.id %></span><br />
<span><strong>Game status: </strong><%= @game.status %></span>

<ul id="show-list" data-id = <%= @game.id %>>

</ul>


<span><%= link "Edit", to: game_path(@conn, :edit, @game) %></span>
<span><%= link "Back", to: game_path(@conn, :index) %></span>
