<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Frederick John">
    <%= if logged_in?(@conn) do %>
    <%= tag :meta, name: "channel_token", content: Phoenix.Token.sign(@conn, "user auth", @current_user.id) %>
    <% else %>
    <% end %>

    <title><%= title() %></title>
    <!-- ## semantic ui CDN below ## -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" integrity="sha256-/Z28yXtfBv/6/alw+yZuODgTbKZm86IKbPE/5kjO/xY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= render "_navigation.html", conn: @conn%>
    <div class="pusher">
    <div class="ui container">
    <br />
      <p class="alert ui info message" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert ui error message" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    </div>
    <%= render "_footer.html", conn: @conn%>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
